:root {
    --beige: #ebe5d8;
    --redBrown: #7b4247;
    --lightPurple: #9f2d5e;
    --bordo: #642646;
    --darkPurple: #3d2033;
    --yellowGreen: #c0cb4d;
    --lime: #95b811;
    --muteLime: #a4b697;
    --leafGreen: #2f691c;
    --deepGreen: #2f491b;
    --darkGreen: #101e13;
    --lightPink: #e4c8cb;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    overflow-y: scroll;
}

body {
    font-family: "Special Elite", cursive;
    background-color: var(--beige);
}

a {
    text-decoration: none;
}

.errMsg {
    color: #22241f;
    background-color: #ccc5b9;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid #de541e;
    text-shadow: none;
    margin-top: 20px;
    text-align: center;
}

#headerElem .img-container {
    height: 200px;
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.logo {
    position: absolute;
    top: 14px;
    margin: 30px;
    height: 120px;
    filter: drop-shadow(5px 5px 3px #222);
}

#headerElem > nav {
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: var(--deepGreen);
    color: var(--beige);
    padding: 10px 15px 5px 15px;
    display: flex;
    align-items: center;
    align-content: space-around;
    gap: 20px;
    z-index: 8;
    filter: drop-shadow(-5px 1px 3px #222);
}

.navWishlist {
    color: var(--beige);
    font-size: 30px;
    transition: 200ms ease-in-out;
}

.navWishlist:hover {
    transform: scale(1.1);
}

button {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    padding: 0.1rem 0.5rem;
    background-color: var(--deepGreen);
    align-self: center;
    color: var(--beige);
    border-radius: 5px;
    cursor: pointer;
    transition: 300ms ease-in-out;
}

button:hover {
    background-color: var(--beige);
    color: var(--deepGreen);
}

#homepage-wrapper {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
}

.welcome-bubble {
    background-image: url("/hero_photo.png");
    /* border: 1px solid lightgray; */
    border-radius: 30px;
    padding: 30px;
    margin-bottom: 50px;
    width: 900px;
    height: 400px;

    display: grid;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    align-items: center;
    justify-items: center;
}

.welcome-bubble h1 {
    font-size: 40px;
    padding: 10px;
}

.welcome-bubble p {
    font-size: 25px;
    padding-top: 50px;
    text-shadow: 3p 3px 3px var(--beige);
}

.homepage-btn {
    min-width: 150px;
    padding: 15px 40px;
    font-size: 26px;
    opacity: 0.8;
}

#all-plants-wrapper,
#wishlist-wrapper {
    display: flex;
    flex-direction: column;
}

#all-plants-wrapper {
    align-items: center;
}

#all-plants-wrapper p {
    font-size: 18px;
    padding-bottom: 10px;
}

.arrow,
.wishlist-backbtn,
.advisor-nav {
    font-size: 50px;
    cursor: pointer;
    color: var(--redBrown);
    transition: 300ms;
}

.arrow:hover,
.wishlist-backbtn:hover,
.advisor-nav:hover {
    color: var(--muteLime);
}

#plantsList-wrapper,
#wishlist-wrapper {
    /* border: 1px solid green; */
    /* padding: 30px 0px 30px 0px; */
    padding-top: 30px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

#wishlist-wrapper {
}

.plants-container,
.wishlist-container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.plants-container .items,
.wishlist-container .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
    position: relative;
}

#plant-card {
    height: 442px;
    width: 322px;
    background-color: whitesmoke;
    border: 1px solid var(--redBrown);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    filter: drop-shadow(2px 2px 1px #222);
    transition: 200ms ease-in-out;
}

#plant-card:hover {
    filter: drop-shadow(5px 5px 3px #222);
    cursor: grab;
}

#plant-card .img-container {
    height: 300px;
    width: 300px;
    display: flex;
    margin-bottom: 10px;
    border: 1px solid var(--darkGreen);
    border-radius: 30px;
    overflow: hidden;
    justify-content: center;
}

.img-container img {
    object-fit: cover;
    min-width: 100%;
}

#wishIcon {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 5;
    cursor: pointer;
    padding: 0;
    font-size: 35px;
    text-shadow: 2px 2px 3px #222;
    background-color: transparent;
    transition: 200ms ease-in-out;
}

#wishIcon:hover {
    transform: scale(0.9);
}

.flipped #wishIcon {
    display: none;
}

.wishIconActive {
    color: var(--lightPurple);
}

.wishIconInactive {
    color: var(--beige);
}

.card-lower-container {
    /* border: 1px solid green; */
    padding: 0 5px;
}

.card-lower-container h2 {
    font-size: 22px;
    padding: 3px 0px;
}

#frontSide,
#backSide {
    position: absolute;
    top: 10px;
    left: 10px;
    transition: 0.6s;
    /* backface-visibility: hidden; */
    /* transform-style: preserve-3d;
     */
}

#frontSide {
    color: var(--deepGreen);
}

#backSide {
    color: var(--redBrown);
    /* border: 1px solid green; */
    height: 418px;
    width: 300px;
    padding: 15px;
}

.flagHidden#frontSide,
.flagHidden#backSide {
    z-index: -1;
    opacity: 0;
}

.frontInfo {
    /* border: 1px solid red; */
    height: 60px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plant-type {
    /* border: 1px solid green; */
    width: 160px;
    display: flex;
}

.plant-type > #card-front-icon {
    filter: opacity(20%);
}

.pet-air {
    /* border: 1px solid blue; */
    width: 80px;
    display: flex;
    justify-content: flex-end;
}

#card-front-icon {
    /* border: 1px dashed red; */
    height: 35px;
    margin: 0 2px;
}

#card-front-icon.icon-highlight {
    /* background-color: red; */
    filter: opacity(100%);
}
#card-back-icon {
    /* border: 1px dashed red; */
    height: 80px;
}

.grid-container {
    /* border: 1px dashed blue; */
    height: 80%;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-content: space-between;
    align-items: center;
    gap: 10px 35px;
    grid-template-areas:
        ". temp-cont temp-cont"
        ". growth-cont growth-cont"
        ". diff-cont diff-cont";
}
.temp-cont,
.growth-cont,
.diff-cont {
    /* border: 1px dashed green; */
    display: grid;
    align-items: center;
    grid-template-rows: 1fr;
    gap: 0px 0px;
}

.temp-cont,
.growth-cont {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: ". .";
}

.temp-cont {
    grid-area: temp-cont;
}

.growth-cont {
    grid-area: growth-cont;
}

.diff-cont {
    grid-template-columns: 1fr;
    grid-template-areas: ".";
    grid-area: diff-cont;
}

#wishlist-sidebar {
    position: fixed;
    top: 50px;
    z-index: 10;
    background-color: whitesmoke;
    color: var(--darkPurple);
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 250px;
    height: fit-content;
    filter: drop-shadow(2px 2px 10px #222);
}

#wishlist-sidebar .img-container {
    max-height: 50px;
    max-width: 50px;
    display: flex;
    border: 2px solid var(--deepGreen);
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
}

#back-card-top .img-container {
    max-height: 50px;
    max-width: 50px;
    display: flex;
    border: 2px solid var(--redBrown);
    border-radius: 5px;
    overflow: hidden;
    justify-content: center;
}

#wishlist-sidebar .wishlistItem {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    margin-bottom: 10px;
    gap: 15px;
}

.sidebar-visible {
    right: -250px;
    transform: translateX(-100%);
    transition: 500ms ease;
}

.sidebar-hidden {
    opacity: 0.5;
    left: 100%;
    transition: transform 1700ms ease 1.5s, opacity 2000ms ease-in 1.5s;
}

#back-card-top {
    display: flex;
    align-items: center;
    padding-left: 15px;
    margin-bottom: 10px;
    gap: 15px;
}

.emptyWishlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    color: var(--darkPurple);
}

.emptyWishlist h1 {
    padding-bottom: 50px;
}

.emptyWishlist h3 {
    padding-bottom: 10px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ ADVISOR ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.advisor-wrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.advisor-container {
    background-color: var(--lightPink);
    background-image: url("/advisor_bg.png");
    height: 500px;
    width: 1100px;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(4px 4px 4px #222);
}

.question-box {
    /* border: 1px solid purple; */
    display: flex;
    height: 450px;
    justify-content: space-between;
}

.advisor-left,
.advisor-right,
.advisor-middle {
    /* border: 1px solid red; */
    width: 45%;
    display: grid;
    grid-template-rows: 3fr 3fr 1fr 3fr;
    justify-items: center;
    text-align: center;
}

.advisor-left h2,
.advisor-right h2 {
    line-height: 150%;
    padding-top: 30px;
}

.advisor-middle {
    width: 100%;
    align-items: center;
    padding: 20px 50px 0px 50px;
}

.advisor-middle h1 {
    font-size: 45px;
}

.advisor-middle h2 {
    margin-top: 20px;
    line-height: 150%;
}

.location-container {
    /* border: 1px solid green; */
    margin-top: 80px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.location-box {
    /* border: 1px solid red; */
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.location-box select {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    background-color: rgba(245, 245, 245, 0.8);
    cursor: pointer;
}

.fa-map-marker-alt {
    font-size: 90px;
}

.advisor-icons-container {
    /* border: 1px solid green; */
    width: 100%;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.advisor-left .advisor-icons-container {
    padding-left: 20px;
    justify-content: flex-start;
    gap: 70px;
}

.advisor-btn-container.results {
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.results-header {
    padding-top: 30px;
    text-align: center;
}

.results-container {
    align-self: flex-start;
    /* margin-left: 50px; */
}

.img-container.loading {
    height: 500px;
    overflow: hidden;
    filter: drop-shadow(5px 5px 6px #222);
    border-radius: 10px;
}

.results-loader-container h2 {
    padding-bottom: 20px;
    text-align: center;
}

#advisor-icon {
    filter: opacity(50%);
    height: 100px;
    cursor: pointer;
    transition: 300ms;
}

#advisor-icon:hover {
    transform: scale(1.1);
}

#advisor-icon.icon-highlight {
    filter: opacity(100%);
    filter: invert(25%) sepia(18%) saturate(4913%) hue-rotate(300deg)
        brightness(95%) contrast(93%);
}

.question-box .far {
    font-size: 35px;
    opacity: 0.3;
    cursor: pointer;
    transition: 300ms;
    margin-top: 20px;
}

.question-box .far:hover {
    opacity: 1;
    transform: scale(1.1);
}

.show-results {
    cursor: pointer;
    border-radius: 20px;
    height: 50px;
    background-color: var(--redBrown);
    padding: 5px 15px;
    justify-self: end;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 15px;
    transition: 300ms;
}

.show-results > p {
    font-size: 30px;
    color: var(--beige);
    margin-top: 3px;
}

.show-results > .advisor-nav {
    color: var(--beige);
}

.show-results:hover {
    background-color: var(--muteLime);
}

.fa-seedling {
    color: var(--beige);
    font-size: 50px;
}

.fa-window-close {
    justify-self: end;
    padding-right: 30px;
}

.advisor-nav,
.show-results {
    align-self: end;
}
