:root {
    --beige: #ebe5d8;
    --redBrown: #7b4247;
    --lightPurple: #9f2d5e;
    --bordo: #642646;
    --darkPurple: #3d2033;
    --yellowGreen: #c0cb4d;
    --lime: #95b811;
    --muteLime: #a4b697;
    --leafGreen: #2f691c;
    --deepGreen: #2f491b;
    --darkGreen: #101e13;
    --lightPink: #e4c8cb;
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    overflow-y: scroll;
}

body {
    /* font-family: "Nunito", sans-serif; */
    font-family: "Special Elite", cursive;
    background-color: var(--beige);
}

a {
    text-decoration: none;
}
.errMsg {
    color: #22241f;
    background-color: #ccc5b9;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid #de541e;
    text-shadow: none;
    margin-top: 20px;
    text-align: center;
}
/* 
#app-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
} */

header {
    /* background-color: var(--green); */
    /* background-image: url("/header_cover.png"); */
    /* height: 200px; */
    /* background-size: cover; */
    /* width: 100%; */
    /* padding: 20px; */
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */

    /*overflow: hidden;
    z-index: 100; */
}

/* #headerElem {
    height: 200px;
} */

#headerElem .img-container {
    height: 200px;
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.logo {
    position: absolute;
    top: 40px;
    margin: 30px;
    height: 70px;
    /* -webkit-filter: drop-shadow(5px 5px 5px #222); */
    filter: drop-shadow(5px 5px 3px #222);
}

#headerElem > nav {
    position: fixed;
    /* height: 100%; */
    top: 0px;
    right: 0px;
    background-color: var(--deepGreen);
    color: var(--beige);
    padding: 5px 15px;
    display: flex;
    align-items: center;
    align-content: space-around;
    gap: 20px;
    z-index: 8;
    filter: drop-shadow(-5px 1px 3px #222);
    /* height: fit-content; */
}

.navWishlist {
    color: var(--beige);
    font-size: 30px;
    transition: 200ms ease-in-out;
}

.navWishlist:hover {
    transform: scale(1.1);
}

button {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    padding: 0.1rem 0.5rem;
    background-color: var(--deepGreen);
    align-self: center;
    color: var(--beige);
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--beige);
    color: var(--deepGreen);
    transition: 400ms ease-in-out;
}

#homepage-wrapper {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    height: 75vh;
    /* gap: 50px; */
}

.welcome-bubble {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 50px;
    /* width: 50vw; */
    border: 1px solid lightgray;
    display: flex;
    width: 85%;
    min-height: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* gap: 50px; */
    filter: drop-shadow(5px 5px 6px #222);
}

.welcome-bubble p {
    font-size: 25px;
    /* padding: 10px; */
}

#all-plants-wrapper,
#wishlist-wrapper {
    display: flex;
    flex-direction: column;
}

#all-plants-wrapper {
    align-items: center;
}

#plantsList-wrapper,
#wishlist-wrapper {
    /* background-color: var(--lightGrey); */
    /* text-shadow: 3px 3px 5px #000000; */
    /* color: var(--darkPurple); */
    /* border: 1px solid green; */
    padding: 30px 0px 30px 100px;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}

.plants-container,
.wishlist-container {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    /* justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center; */
}

.plants-container .items,
.wishlist-container .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    gap: 80px;
    position: relative;

    /* justify-content: center; */
    /* align-items: center; */
    /* align-content: center; */
    /* justify-items: center; */
}

#plant-card {
    /* margin: 20px 20px 0 0; */
    height: 442px;
    width: 322px;
    /* padding: 10px; */
    background-color: whitesmoke;
    border: 1px solid var(--redBrown);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    position: relative;
    /* transition: transform 400ms; */
    filter: drop-shadow(2px 2px 1px #222);
    transition: 200ms ease-in-out;
}

#plant-card:hover {
    filter: drop-shadow(5px 5px 3px #222);
    cursor: grab;
    /* transform: scale(1.05); */
}

/* #plant-card:active {
    position: relative;
    top: 1px;
} */

#plant-card .img-container {
    height: 300px;
    width: 300px;
    display: flex;
    margin-bottom: 10px;
    border: 1px solid var(--darkGreen);
    border-radius: 30px;
    overflow: hidden;
    justify-content: center;
    /* filter: saturate(100%); */
    /* transition: filter 0.5s; */
    /* transition: transform 400ms; */
}

.img-container:hover {
    /* filter: saturate(20%); */
    /* transform: scale(1.05); */
}

.img-container img {
    /* max-height: 100%; */
    object-fit: cover;
    min-width: 100%;
}

#wishIcon {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 5;
    cursor: pointer;
    padding: 0;
    font-size: 35px;
    /* filter: drop-shadow(3px 3px 2px #222); */
    text-shadow: 2px 2px 3px #222;
    background-color: transparent;
    /* border: 0 solid transparent; */
    transition: 200ms ease-in-out;
    /* align-self: center; */
}

#wishIcon:active {
    /* transform: scale(0.9); */
    /* transform: rotateY(-180deg); */
    /* filter: drop-shadow(-3px 3px 3px #222); */
}

#wishIcon:hover {
    transform: scale(0.9);
    /* color: white; */
    /* transform: rotateY(-180deg); */
    /* filter: drop-shadow(-3px 3px 3px #222); */
}

.flipped #wishIcon {
    display: none;
}

.wishIconActive {
    color: var(--lightPurple);
}

.wishIconInactive {
    color: var(--beige);
}

.card-lower-container {
    /* border: 1px solid green; */
    padding: 0 5px;

    /* text-shadow: 2px 2px 5px #222; */
}

.card-lower-container h2 {
    font-size: 22px;
    padding: 3px 0px;
}
#frontSide,
#backSide {
    position: absolute;
    top: 10px;
    left: 10px;

    transition: 0.6s;
    /* backface-visibility: hidden; */
    /* transform-style: preserve-3d;
     */
}

#frontSide {
    color: var(--deepGreen);
    /* z-index: 1; */
    /* filter: alpha(opacity=100); */
    /* opacity: 1; */
}

#backSide {
    color: var(--redBrown);
    /* border: 1px solid green; */
    /* background-color: yellow; */
    height: 418px;
    width: 300px;
    padding: 15px;

    /* filter: alpha(opacity=100); */
    /* opacity: 1; */
    /* z-index: 1; */
    /* transform: scale(0.01); */
}

.flagHidden#frontSide,
.flagHidden#backSide {
    z-index: -1;
    opacity: 0;
    /* background-color: var(--darkBlue);
    border: 10px solid red; */
    /* filter: alpha(opacity=0); */
    /* filter: alpha(opacity=0); */
}

.frontInfo {
    /* border: 1px solid red; */
    height: 60px;
    color: black;
    display: flex;
    /* gap: 30px; */
    justify-content: space-between;
    align-items: center;
    /* padding: 5px 10px; */
}

.plant-type {
    /* border: 1px solid green; */
    width: 160px;
    display: flex;
}

.plant-type > #card-front-icon {
    filter: opacity(20%);
    /* background-color: var(--darkBlue); */
}

.pet-air {
    /* border: 1px solid blue; */
    width: 80px;
    display: flex;
    justify-content: flex-end;
}

#card-front-icon {
    /* border: 1px dashed red; */
    height: 35px;
    margin: 0 2px;
}

#card-front-icon.icon-highlight {
    filter: opacity(100%);
    /* background-color: red; */
}
#card-back-icon {
    height: 80px;
    /* border: 1px dashed red; */
}

.grid-container {
    height: 80%;
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-content: space-between;
    align-items: center;
    /* justify-items: center; */
    /* justify-content: space-between; */
    /* border: 1px dashed blue; */
    gap: 10px 35px;
    grid-template-areas:
        ". temp-cont temp-cont"
        ". growth-cont growth-cont"
        ". diff-cont diff-cont";
}
.temp-cont,
.growth-cont,
.diff-cont {
    display: grid;
    align-items: center;
    /* border: 1px dashed green; */
    /* justify-items: center; */
    grid-template-rows: 1fr;
    gap: 0px 0px;
}

.temp-cont,
.growth-cont {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: ". .";
}

.temp-cont {
    grid-area: temp-cont;
}

.growth-cont {
    grid-area: growth-cont;
}

.diff-cont {
    grid-template-columns: 1fr;
    grid-template-areas: ".";
    grid-area: diff-cont;
}

#wishlist-sidebar {
    position: fixed;
    /* right: 0; */
    top: 50px;
    z-index: 10;
    background-color: whitesmoke;
    color: var(--darkPurple);
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 250px;
    height: fit-content;
    filter: drop-shadow(2px 2px 10px #222);
    /* transition: transform 1200ms ease, opacity 2000ms ease; */

    /* transition-delay: 3500ms; */
}

#wishlist-sidebar .img-container {
    max-height: 50px;
    max-width: 50px;
    display: flex;
    border: 2px solid var(--deepGreen);
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
}

#back-card-top .img-container {
    max-height: 50px;
    max-width: 50px;
    display: flex;
    border: 2px solid var(--redBrown);
    border-radius: 5px;
    overflow: hidden;
    justify-content: center;
}

#wishlist-sidebar .wishlistItem {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    margin-bottom: 10px;
    gap: 15px;
}

.sidebar-visible {
    /* visibility: visible;
    opacity: 0.95; */
    /* transition: 300ms; */
    /* position: fixed; */
    right: -250px;
    /* top: 50px; */
    /* transition: 300ms ease-in-out; */
    transform: translateX(-100%);
    transition: 500ms ease;
}

.sidebar-hidden {
    /* visibility: hidden;
    /* transition: 1200ms; */
    opacity: 0.5;
    left: 100%;
    /* transition: 1700ms ease; */
    /* transition: transform 1700ms ease 3s; */
    transition: transform 1700ms ease 1.5s, opacity 2000ms ease-in 1.5s;
    /* transition: 100ms ease-out; */
    /* transition: 100ms ease-out; */
    /* transition-delay:  */
}

#back-card-top {
    display: flex;
    align-items: center;
    padding-left: 15px;
    margin-bottom: 10px;
    gap: 15px;
}

.emptyWishlist {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    color: var(--darkPurple);
}

.emptyWishlist .btn {
    background-color: var(--lime);
    color: var(--redBrown);
    padding: 5px 15px;
    border-radius: 20px;
    transition: 400ms;
}

.emptyWishlist .btn:hover {
    background-color: var(--redBrown);
    color: var(--lime);
}

.emptyWishlist .btn:active {
    position: relative;
    top: 1px;
}

/* ~~~~~~~~~~~~ ADVISOR ~~~~~~~~~~~~~ */
.advisor-wrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.advisor-container {
    background-color: var(--lightPink);
    /* border: 3px solid var(--muteLime); */
    height: 500px;
    width: 1100px;
    padding: 30px;
    display: flex;
    flex-direction: column;

    /* border: 1px solid var(--lightBlue); */
    filter: drop-shadow(4px 4px 4px #222);
}

.question-box {
    /* border: 1px solid purple; */
    display: flex;
    height: 80%;
    justify-content: space-between;
}

.advisor-left,
.advisor-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 20px;
    width: 45%;
}

.advisor-left,
.advisor-right {
    /* border: 1px solid red; */
    display: grid;
    grid-template-rows: 3fr 3fr 1fr;
    justify-items: center;
    text-align: center;
    gap: 20px;

    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    padding: 20px;
}

.advisor-icons-container {
    /* border: 1px solid green; */
    width: 100%;
    /* padding: 30px; */
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    /* cursor: pointer; */
}

.advisor-btn-container {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-evenly;

    /* align-self: flex-end; */
}

.advisor-btn-container.results {
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-around;
    gap: 50px;
    /* align-items: flex-start; */
    /* align-content: flex-start; */

    /* align-self: flex-end; */
}
.advisor-nav {
    width: 20%;
}

.results > .advisor-nav {
    width: 100px;
    /* height: 50px; */
    /* color: red; */
}

.results-header {
    padding-top: 30px;
    text-align: center;
}

.img-container.loading {
    height: 500px;
    overflow: hidden;
    /* border: 5px solid red; */
}

.results-loader-container h2 {
    padding-bottom: 20px;
    text-align: center;
}

#advisor-icon {
    filter: opacity(35%);
    height: 100px;
    cursor: pointer;
    transition: 300ms;
}

#advisor-icon:hover {
    filter: opacity(75%);
}

#advisor-icon.icon-highlight {
    filter: opacity(100%);
}

.question-box .far {
    font-size: 35px;
    opacity: 0.3;
    cursor: pointer;
    transition: 300ms;
}

.question-box .far:hover {
    opacity: 1;
}
